.friend {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
  }
  &__item {
    display: flex;
    gap: 30px;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid burlywood;
    align-items: center;
    border-radius: 4px;
  }
  &__status {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__status--online {
    background-color: lightgreen;
  }
  &__status--offline {
    background-color: rgb(240, 59, 92);
  }
  &__avatar {
    width: 100px;
  }
  &__name {
    font-size: 30px;
  }
}
